:root {

    // <----------------------- Colors ----------------------->
    --colorwhite: #FFF;
    --colorblack: #000;
    --darkorange: #c45308;

    // <----------------------- BG-Colors ----------------------->
    --bgwhite: #FFF;
    --bgblack: #000;

    // <----------------------- Transparent-Colors ----------------------->
    --transparent: #ffffff00;
    --transparent1: #00000040;

    // <----------------------- Font-Family ----------------------->
    --font-family1: "Montserrat", sans-serif;

}