:root {

    // <----------------------- Colors ----------------------->
    --colorwhite: #FFF;
    --colorblack: #000;
    --darkorange: #c45308;
    --colorfaded1: #b4b4b4;
    --colorfaded3: #707070;
    --colorfaded4: #70707078;

    // <----------------------- BG-Colors ----------------------->
    --bgwhite: #FFF;
    --bgblack: #000;

    // <----------------------- Transparent-Colors ----------------------->
    --transparent: #ffffff00;
    --transparent1: #00000040;

    // <----------------------- Font-Family ----------------------->
    --font-family1: "Montserrat", sans-serif;

}

* {
    // cursor: url(https://cdn.custom-cursor.com/db/18346/32/starter-yellow-glitter-cursor.png), url(/_next/static/media/default.781a3139.png), auto;
    cursor: url(../../public/cursor.png), auto;
}