.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 18px 0;
  width: 100%;
  transition: all 0.4s ease-in-out;

  &.hidden {
    transform: translateY(-100%);
  }

  &.scrolled {
    transition: all 0.4s ease-in-out;
    background-color: #fff;
  }

  .headermainalignment {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerlogo {
      a {
        display: block;
        padding: 16px 0 21px 0;

        svg {
          path {
            fill: var(--colorblack);
          }
        }
      }
    }

    .headercontentmain {
      display: flex;
      align-items: center;

      .headercontentlink {
        a {
          padding: 0 20px;
          display: block;
          font-size: 16px;
          font-weight: 400;
          line-height: 50px;
          letter-spacing: 0.5px;
          color: var(--colorblack);
          font-family: var(--font-family1);
          position: relative;
          transition: 0.4s ease-in-out;

          &:hover {
            color: var(--darkorange);

            &::before {
              transform: scaleX(1) translateX(-50%);
              transform-origin: left;
              transition: transform .3s ease;
            }
          }

          &::before {
            background: var(--colorblack);
            bottom: 15px;
            content: " ";
            height: 2px;
            left: 50%;
            position: absolute;
            right: 50%;
            transform: scaleX(0) translateX(-50%);
            transform-origin: left;
            transition: transform .3s ease;
            z-index: -1;
            width: 70%;
          }
        }
      }

      button {
        margin: 0 0 0 5px;
        padding: 5px 20px;
        border-radius: 8px;
        border: 1px solid var(--colorblack);
        background-color: var(--colorblack);
        cursor: pointer;
        transition: 0.4s ease-in-out;

        span {
          font-family: var(--font-family1);
          transition: 0.4s ease-in-out;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          color: var(--colorwhite);
          letter-spacing: 1px;
        }

        &:hover {
          background-color: var(--colorwhite);

          span {
            color: var(--colorblack);
          }
        }
      }
    }
  }
}