.footermain {
    border-top: 1px solid var(--colorblack);
    padding: 127px 0 50px 0;

    .footerflxmain {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footerflxitems1 {
            max-width: 450px;
            width: 100%;
            padding: 0 0 0 70px;

            .footerflxitems1head {
                margin: 0 0 50px 0;

                a {
                    svg {
                        path {
                            fill: var(--colorblack);
                        }
                    }
                }
            }

            .footerflxitems1body {
                display: flex;
                justify-content: space-between;

                .footerflxitems1bodyflxitem1 {
                    p {
                        margin: 0 0 41px 0;

                        a {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 20px;
                            color: var(--colorblack);
                            font-family: var(--font-family1);
                        }
                    }
                }

                .footerflxitems1bodyflxitem2 {
                    p {
                        margin: 0 0 41px 0;

                        a {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 20px;
                            color: var(--colorblack);
                            font-family: var(--font-family1);
                            max-width: 200px;
                        }
                    }
                }
            }
        }

        .footerflxitems2 {
            padding: 70px 0 0 0;
            width: 100%;
            max-width: 405px;

            .footerflxitems2head {
                margin: 0 0 36px 0;

                span {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 1px;
                    color: var(--colorblack);
                    font-family: var(--font-family1);
                }
            }

            .footerflxitems2body {
                .signuppera {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 1px;
                    color: var(--colorblack);
                    font-family: var(--font-family1);
                    margin: 0 0 49px 0;
                }

                .footerflxitems2bodyemailinputalignment {
                    display: flex;
                    align-items: end;
                    gap: 8px;
                    margin: 0 24px 24px 0;

                    .footerflxitems2bodyemailinputdiv {
                        width: 100%;

                        label {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 23px;
                            letter-spacing: 1px;
                            color: var(--colorblack);
                            font-family: var(--font-family1);
                            margin: 0 0 8px 0;
                            display: block;
                        }

                        input {
                            width: 100%;
                            padding: 8px 12px;
                            border: 1px solid var(--colorblack);
                            border-radius: 6px;
                            font-size: 17px;
                            font-weight: 400;
                            line-height: 26px;
                            letter-spacing: 1px;
                            color: var(--colorblack);
                            font-family: var(--font-family1);
                        }
                    }

                    button {
                        padding: 11px 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: fit-content;
                        height: fit-content;
                        border: 1px solid var(--colorblack);
                        background-color: var(--colorblack);
                        border-radius: 6px;
                        color: var(--colorwhite);
                        cursor: pointer;
                        transition: all .4s ease-in-out;
                        font-size: 17px;
                        font-weight: 400;
                        line-height: 20px;

                        &:hover {
                            background-color: var(--transparent);
                            color: var(--colorblack);
                        }
                    }
                }

                .cehckboxdivmain {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 20px;
                        color: var(--colorblack);
                        font-family: var(--font-family1);
                    }
                }
            }
        }
    }

    .footerbottommain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0 0 0;

        .footercopyrighttext {
            max-width: 460px;
            width: 100%;

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 1px;
                color: var(--colorblack);
                font-family: var(--font-family1);

                a {
                    color: var(--colorblack);
                    display: inline;
                    text-decoration-line: underline;
                }
            }
        }

        .footersocialmediaiconsdivmain {
            display: flex;
            align-items: center;
            gap: 32px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}